@import "./variables.scss";

.btn {
    color: #fff;
    background-color: $primary-color;
    text-transform: capitalize;
    border-radius: 50rem;
    padding: 0.8rem 1.8rem;
    display: inline-block;
    height: fit-content;
}

.section-paragraph {
    font-size: 0.9rem;
    font-weight: 300;
}
